/*-- scss:defaults --*/

$blue-custom: #99D9DD;
$link-color: $blue-custom;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  color: $white;
}

nav-footer-center {
  min-height: unset;
}

div.quarto-about-solana .about-entity .about-link {
  font-size: 1.5em;
  border-style: none;
  transition: all .35s ease;
}


.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #5a5b5a;
}